.App {
  background-image: url('./img/fondo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: left;
  padding: 20px;
  position: relative;
}

.title {
  font-size: 2.4em;
  font-weight: bold;
  font-style: italic;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered h2 {
  font-size: 57px;
  font-family: 'Times New Roman', serif;
}

.centered p {
  font-size: 36px;
  font-family: 'Arial', sans-serif;
}

.content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 100vh;
}

.left, .right {
  width: 45%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.left {
  background-color: white;
  text-align: center;
}

.right {
  background-color: #2970DB;
  color: white;
}

.right-title {
  text-align: center;
}

.left h3, .right h3 {
  color: black;
  margin-top: 0;
  font-size: 1.8em;
}

.left p, .right li {
  color: black;
  font-size: 1.4em;
}

.right h3, .right li {
  color: white;
}

.map-container {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.map h2 {
  color: white;
  font-size: 1.8em;
}

.map iframe {
  margin: 0 auto;
  display: block;
}

.contact-form {
  text-align: center;
  color: black;
}

.contact-form h2 {
  font-size: 2em;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="text"],
input[type="email"] {
  width: calc(50% - 5px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.4em;
  margin-right: 5px;
}

textarea {
  width: calc(100% - 5px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.4em;
  font-family: 'Arial', sans-serif;
  resize: none;
  height: 100px;
}


button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #2970DB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.4em;
}

button[type="submit"]:hover {
  background-color: #245dab;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
  position: absolute;
  left: 0;
}
